.conteudo{
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: rgb(139, 233, 143);
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    padding: 2px;
}


.conteudo__formulario{
    display: flex;
    width: 50rem;
    flex-direction: row;
}

.slct{
    align-self: center;
    margin: 1rem;
    width: 5rem;
}

.conteudo__segundo-cadastro{
    display: flex;
    flex-direction: column;
}

.form-group{
    display: flex;
    flex-direction: row;
}

.btn{
    margin: 2rem;
}

.invisivel{
    display: none;
}

