.conteudo{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: rgb(139, 233, 143);
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    padding: 2px;
}


.conteudo__formulario{
    display: flex;
    width: 21.875rem;
    flex-direction: column;
}

.slct{
    align-self: center;
    margin: 1rem;
    width: 3rem;
}

.conteudo__segundo-cadastro{
    display: flex;
    flex-direction: column;
}

.invisivel{
    display: none;
}

