.conteudo{
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    padding: 2px;
}

.conteudo__botoes{
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.conteudo_interface{
    display: flex;
    flex-direction: column;
    margin: 4px;
}

.btn{
    margin: 10px;
}

.invisivel{
    display:none
}
